* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

header {
  text-align: center;
}

.header h1 {
  font-size: 2rem;
  font-weight: 250;
  color: hsl(229, 6%, 66%);
}

.header h2 {
  margin-top: -15px;
  font-size: 2rem;
  color: hsl(234, 12%, 34%);
}
.header p {
  font-size: 1.2rem;
  white-space: pre-wrap;
}

.cardContainer {
  width: 70%;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 15px;
  font-family: poppins, sans-serif;
  background: hsl(0%, 5%, 98%);
}

.cards {
  position: relative;
  height: 200px;
  padding: 20px;
  width: 350px;
  background: rgb(196, 196, 196);
  border-radius: 10px;
  /* overflow: hidden; */
  margin: 18px auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 
}
.cards img {
  position: absolute;
  padding: 15px;
  right: 0;
  bottom: 0;
}

.cards h2 {
  font-size: 1.3rem;
  color: hsl(234, 12%, 34%);
}

@media (min-width: 768px) {
  .cardContainer {
    display: flex;
    align-items: center;
  }
  .cards {
    margin: 18px;
  }
}
